# Core
streamlit
watchdog
pandas
pyarrow
optuna 
# Dataset loading
datasets
fsspec>=2023.7.0,<2023.12.0
huggingface-hub

# Modeling
torch
transformers
sentencepiece
safetensors

# Visualization
matplotlib
seaborn
plotly
wordcloud

# ML utilities
scikit-learn
