streamlit

# Modelos
torch
transformers
safetensors
sentencepiece
huggingface-hub

# Para cargar y explorar datasets
datasets
pandas
pyarrow
fsspec
plotly
wordcloud
# Gráficos
matplotlib
seaborn

# Métricas
scikit-learn
