# Core
streamlit
watchdog
pandas
pyarrow

# Dataset loading
datasets
fsspec
huggingface-hub

# Modeling
torch
transformers
sentencepiece
safetensors

# Visualization
matplotlib
seaborn
plotly
wordcloud

# ML utilities
scikit-learn
